h1,h2,h3,h4,h5 {color: #0c0c4c;}

code{white-space: pre;}

table,tr,th,td {border-collapse: collapse; border: 1px solid #999999;}
th {padding:8px;}
td {padding:4px;}
.odd td {background: #eeeeee;}

body {
	background: #bbbbbb;
	/* background: url(wallpaper.php); */
	color: #000000;
	line-height: 1.25;
}

#content {
	border: 1px solid #999999;
	border-radius: 10px;
	background: #ffffff;
	color: #000000;
	max-width: 50em;
	min-width: 30em;
	margin: 2em auto 0px auto;
	padding: 0em 3em 2em 3em;
}

.footer {
	color: #000000;
	margin: 2px auto;
	max-width: 60em;
	min-width: 40em;
	font-size: 6pt;
	color: #606099;
	text-align: right;
	padding: 0em;
	font-style: italic;
}

p {text-align: justify;}

a,a:link,a:visited {
  	background-color: #e0e0e0;
  	color: #0000c0;
  	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover {text-decoration: underline;}

hr {
	color:#c0c0c0;
	background:#c0c0c0;
	height:1px;
	border:none;
}

i {
	font-size: 9pt;
	color: #606099;
	padding: 3px 5px;
}

b {
	border: 0px solid;
	border-radius: 20px;
	font-size: 8pt;
  	background-color: #cc0000;
  	color: #ffffff;
  	padding: 4px 6px;
	text-align: center;
    font-weight:bold;
	display: inline-block;
}

button {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11pt;
	font-weight:bold;
	padding:7px 16px;
    margin: 0px 5px 0px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

button:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
